body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.87);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 2560px) {
  .container {
    max-width: 1170px;
  }
}

.hero {
  margin-bottom: 140px;
  padding-top: 40px;
  padding-bottom: 71px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../../images/mob/hero-mob.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/mob/hero-mob@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 89px;
    padding-bottom: 88px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/tab/hero-tab.jpg');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/tab/hero-tab@2x.jpg');
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 164px;
    padding-bottom: 163px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/desc/hero-desc.jpg');
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1024px) and (min-resolution: 192dpi),
  screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/desc/hero-desc@2x.jpg');
  }
}
@media screen and (min-width: 2560px) {
  .hero {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/large/hero-large.jpg');
  }
}
@media screen and (min-width: 2560px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 2560px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 2560px) and (min-resolution: 192dpi),
  screen and (min-width: 2560px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../images/large/hero-large@2x.jpg');
  }
}

.heroContentWrapper {
  width: 328px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .heroContentWrapper {
    width: 380px;
  }
}

.heroTitle {
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: white;
}

.heroText {
  margin-bottom: 32px;
  text-align: center;
  color: white;
}

.heroButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 80px;
  background-color: #f4e041;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.heroButton:hover {
  background-color: #ffe302;
} /*# sourceMappingURL=hero.css.map */
