@import '../../utils/main-utils';
@import '../../base/main-base';

.header {
  background-color: white;
}

.headerContainer {
  padding-top: 13px;
  padding-bottom: 13px;
  @include flex;
}

.buttonHeader {
  @include button;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
