body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.87);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 2560px) {
  .container {
    max-width: 1170px;
  }
}

.users {
  margin-bottom: 140px;
}

.usersTitle {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

@media screen and (min-width: 768px) {
  .usersList {
    display: grid;
    grid-template-columns: repeat(2, 344px);
    grid-auto-rows: 254px;
    gap: 16px;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .usersList {
    grid-template-columns: repeat(3, 282px);
  }
}
@media screen and (min-width: 2560px) {
  .usersList {
    grid-template-columns: repeat(3, 370px);
  }
}

.usersListItem {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .usersListItem:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .usersListItem {
    margin-bottom: 0px;
  }
}

.usersListItemImage {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50%;
}

.usersListItemName {
  margin-bottom: 20px;
}

.usersShowMoreBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 120px;
  height: 34px;
  border: none;
  border-radius: 80px;
  background-color: #f4e041;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.usersShowMoreBtn:hover {
  background-color: #ffe302;
}

.cutText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cutText:focus:after,
.cutText:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  position: absolute;
  left: auto;
  top: auto;
  width: 288px;
  background: rgba(0, 0, 0, 0.87);
  color: white;
  border-radius: 4px;
  padding: 3px 16px;
  white-space: normal;
  word-wrap: break-word;
  display: block;
}
@media screen and (min-width: 768px) {
  .cutText:focus:after,
  .cutText:hover:after {
    width: 304px;
  }
}
@media screen and (min-width: 1024px) {
  .cutText:focus:after,
  .cutText:hover:after {
    width: 242px;
  }
}
@media screen and (min-width: 2560px) {
  .cutText:focus:after,
  .cutText:hover:after {
    width: 330px;
  }
} /*# sourceMappingURL=users.css.map */
