//COLORS

$primaryYellow: #f4e041;
$secondaryBlue: #00bdd3;
$backgroundColor: #f8f8f8;
$hoverYellow: #ffe302;
$disabledGrey: #b4b4b4;
$errorRed: #cb3d40;
$textColor: rgba(0, 0, 0, 0.87);
$helperTextColor: #7e7e7e;
$borderInputColor: #d0cfcf;
