@import '../../utils/main-utils';
@import '../../base/main-base';

.formSection {
  margin-bottom: 100px;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 328px;
  @media screen and (min-width: 768px) {
    width: 380px;
  }
}

.formTitle {
  margin-bottom: 50px;
  @include title;
}

.formInputPositioning {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.formLabel {
  position: absolute;
  top: -7px;
  left: 16px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: $backgroundColor;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  color: $helperTextColor;
}

.formTextTypeInput {
  box-sizing: border-box;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: 1px solid $borderInputColor;
  border-radius: 4px;
  background-color: $backgroundColor;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $helperTextColor;
  }
}

.formHelperText {
  margin-left: 16px;
  font-size: 12px;
  color: $helperTextColor;
}

.formTextError {
  color: $errorRed;
}

.formRadioGroup {
  margin-bottom: 47px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.formRadioGroupText {
  margin-top: 25px;
  margin-bottom: 11px;
}

.formRadioGroupLabel {
  align-items: center;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.formRadioGroupInput {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid $borderInputColor;
  background-color: $backgroundColor;
  border-radius: 50%;

  &:checked {
    border: 1px solid $secondaryBlue;
    background-color: $secondaryBlue;
  }
}

.formFileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.formFileInputLabel {
  display: flex;
}

.formFileInputUpload {
  display: block;
  padding: 14px 15px;
  border: 1px solid $textColor;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.formFileInputPlaceholder {
  display: block;
  width: 245px;
  padding: 14px 16px;

  border-width: 1px 1px 1px 0px;
  border-color: $borderInputColor;
  border-style: solid;
  border-radius: 0px 4px 4px 0px;
  color: $helperTextColor;
  @media screen and (min-width: 768px) {
    width: 297px;
  }
}

.uploadPlaceholderError {
  border-color: $errorRed;
}

.formInputError {
  border: 1px solid $errorRed;
}

.signUpButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  @include button;
}

.disabled {
  background-color: $disabledGrey;
  color: white;
  &:hover {
    background-color: $disabledGrey;
  }
}

.formNotificationWrapper {
  @include flex($justifyContent: center);
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 328px;
  @media screen and (min-width: 768px) {
    width: 380px;
  }
}

.formSuccessTitle {
  @include title;
}

.formSuccessPic {
  margin-top: 50px;
  width: 100%;
}

.cutPlaceholder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
