body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.87);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 2560px) {
  .container {
    max-width: 1170px;
  }
}

.formSection {
  margin-bottom: 100px;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .form {
    width: 380px;
  }
}

.formTitle {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.formInputPositioning {
  position: relative;
}
.formInputPositioning:not(:last-child) {
  margin-bottom: 50px;
}

.formLabel {
  position: absolute;
  top: -7px;
  left: 16px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #f8f8f8;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #7e7e7e;
}

.formTextTypeInput {
  box-sizing: border-box;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.formTextTypeInput:focus {
  outline: none;
}
.formTextTypeInput::-moz-placeholder {
  color: #7e7e7e;
}
.formTextTypeInput:-ms-input-placeholder {
  color: #7e7e7e;
}
.formTextTypeInput::placeholder {
  color: #7e7e7e;
}

.formHelperText {
  margin-left: 16px;
  font-size: 12px;
  color: #7e7e7e;
}

.formTextError {
  color: #cb3d40;
}

.formRadioGroup {
  margin-bottom: 47px;
}
@media screen and (min-width: 768px) {
  .formRadioGroup {
    margin-bottom: 50px;
  }
}

.formRadioGroupText {
  margin-top: 25px;
  margin-bottom: 11px;
}

.formRadioGroupLabel {
  align-items: center;
  display: flex;
}
.formRadioGroupLabel:not(:last-child) {
  margin-bottom: 7px;
}

.formRadioGroupInput {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #d0cfcf;
  background-color: #f8f8f8;
  border-radius: 50%;
}
.formRadioGroupInput:checked {
  border: 1px solid #00bdd3;
  background-color: #00bdd3;
}

.formFileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.formFileInputLabel {
  display: flex;
}

.formFileInputUpload {
  display: block;
  padding: 14px 15px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.formFileInputPlaceholder {
  display: block;
  width: 245px;
  padding: 14px 16px;
  border-width: 1px 1px 1px 0px;
  border-color: #d0cfcf;
  border-style: solid;
  border-radius: 0px 4px 4px 0px;
  color: #7e7e7e;
}
@media screen and (min-width: 768px) {
  .formFileInputPlaceholder {
    width: 297px;
  }
}

.uploadPlaceholderError {
  border-color: #cb3d40;
}

.formInputError {
  border: 1px solid #cb3d40;
}

.signUpButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 80px;
  background-color: #f4e041;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.signUpButton:hover {
  background-color: #ffe302;
}

.disabled {
  background-color: #b4b4b4;
  color: white;
}
.disabled:hover {
  background-color: #b4b4b4;
}

.formNotificationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .formNotificationWrapper {
    width: 380px;
  }
}

.formSuccessTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.formSuccessPic {
  margin-top: 50px;
  width: 100%;
}

.cutPlaceholder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} /*# sourceMappingURL=form.css.map */
