.container {
  max-width: 360px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: 2560px) {
    max-width: 1170px;
    // padding-left: 695px;
    // padding-right: 695px;
  }
}
